body {
  font-family: Montserrat, sans-serif;
}

hr {
  margin: 10vh 0vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#IMFchart, #speedchart {
  margin: 10px;
  width: 40vw;
}

#page-title {
  text-align: center;
}

#page-subtitle {
  text-align: center;
}

#enlil {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#map {
  height: 70vh;
  width: 50%;
}

#result {
  margin-top: 20px;
}

#latitude {
  width: 10vw;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.index-container {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.index-container a {
  padding: 10px;
  color: red;
}

.lat-calc-container {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.calc-subcontainer {
  margin: 20px;
}

.stats-container {
  display: flex;
  justify-content: center;
}

.stats-subcontainer {
  width: 15vw;
  text-align: center;
}

.stats-subheader {
  text-decoration: underline;
}

.stats-rows {
  text-align: right;
  color: white;
}

.stats-subcontainer-rows {
  width: 15vw;
  text-align: right;
  font-style: italic;
}

.sliderOverlay {
  position: relative;
  border-radius: 10px;
  width: 50vw;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  display:block;
  -webkit-appearance: none;
  height: 7px;
  border-radius: 5px;
  background: #333333;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 40px;
  margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 5px solid #333333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  border: 5px solid #333333;
  cursor: pointer;
}
